<p class="clickable"
   style="display:inline;padding-right:10px;"
   hx-get="/inspect/asset/{{assetId}}"
   hx-target="#page-content"><b><u>Asset</u></b></p>
<p class="clickable"
   style="display:inline;"
   hx-get="/inspect/asset/translations/{{assetId}}"
   hx-target="#page-content"><u>Translations</u></p>
<h1>{{title}}</h1>
<p>asset id: {{assetId}}</p>
<p>last updated @ {{lastUpdatedTimeFormatted}} by {{lastUpdatedBy}}</p>

<form hx-get="assets/mutate" hx-target="#page-content">
    <label>
        <input name="assetId" type="text" hidden="hidden" value="{{assetId}}">
    </label>

    <div class="dark row">
        <div class="column centered">
            <p>title</p>
        </div>
        <div class="column centered">
            <label>
                <input name="title" type="text" class="wide" value="{{title}}">
            </label>
        </div>
    </div>
    <div class="light row">
        <div class="column centered">
            <p>description</p>
        </div>
        <div class="column centered">
            <label>
                <textarea name="description" class="wide tall-textarea" placeholder="enter description of asset">{{description}}</textarea>
            </label>
        </div>
    </div>
    <div class="dark row">
        <div class="column centered">
            <p>url</p>
        </div>
        <div class="column centered">
            <label>
                <input name="url" type="text" class="wide" value="{{href}}">
            </label>
        </div>
    </div>

    <br>
    <p class="clickable" style="display:inline" hx-get="/inspect/asset/{{assetId}}" hx-target="#page-content">discard changes</p>

    <button type="submit">save game text</button>
</form>
