<h1>{{title}}</h1>

<p style="display: inline-block">Search/Filter:</p>
<input type="search"
       name="searchLike"
       placeholder=""
       hx-get="/menu-hud/search"
       hx-trigger="input changed delay:500ms, search"
       hx-target="#matches"
       style="display: inline-block">
