<h1>{{title}}</h1>

<p style="display: inline-block">Search/Filter:</p>
<input type="search" style="display: inline-block">

<h4>Showing {{records-found}} assets for search [{{search}}]. Filtered by [{{filter}}].</h4>
